# Güvenlik (Asla yükleme!)
.env

# Python Gereksizleri
__pycache__/
*.pyc

# Yerel Veriler (Sunucuda sıfırdan oluşsun)
*.json
!fighters_db.json  # Sadece veritabanı kalsın (opsiyonel, istersen bunu da gizle)

# Loglar ve Görseller
*.log
visuals/